*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    background-color: #221633;
}
.sidebar{
    width: 15.7%;
    background: linear-gradient(80deg, #251838, #372453);
    text-align: left;
    padding: 30px 30px;
    height: 100%;
    position: fixed;
    z-index: 10;
}
h1{
    color: rgb(148, 238, 208);
    margin-right: 4px;
    font-size: 29px;
    text-shadow: 1px 2px #fff;
}
.red {
    color: rgb(245, 88, 88);
}

.logoo {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    cursor: pointer;
    color:antiquewhite;
    font-family:fantasy;
    letter-spacing: 5px;
    margin-bottom: 30px;
}
.bar-items {
    text-decoration: none;
    color: #fff;
}
.sidebar ul li {
    margin: 30px auto;
    padding-top: 15px;
    padding-left: 3px;
    text-align: left;
    list-style: none;
    height: 50px;
}
.sidebar ul li:active {
    background-color: rgba(121, 111, 136, 0.6);
}
.sidebar ul li a:hover {
    color: rgb(57, 243, 166);
}
i{
    margin-right: 10px;
    width: 20px;
}
.bar-items_mb {
    display: none;
}
#line {
    width: 70%;
    height: 1px;
    background-color: #524861;
    margin: 55px 0;
}
.body-content {
    position: relative;
    overflow-x: hidden;
}
.header {
    background: linear-gradient(180deg, #694570, #221633);
    border-left: transparent solid 0.3px;
}
.header_item {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.left_items {
    margin: auto 30px;
    display: flex;
    padding-left: 15.7%;
}
.left_items i {
    font-weight: 300;
    margin: auto 10px;
}
.left_items input {
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border-color: transparent;
    position: relative;
    background-color: rgba(218, 203, 203, 0.2);
    outline: none;
    text-align: left;
    padding-left: 50px;
    font-size: 18px;
}
::placeholder {
    color: #fff;
}
.input-div {
    position: relative;
}
input {
    color: #fff;
}
.input-div i {
    position: absolute;
    margin: 10px;
    padding-right: 20px;
}
.right_items {
    display: flex;
    margin-right: 30px;
}
a{
    text-decoration: none;
}
.tooltip1, .tooltip2 {
    font-size: 10px;
}
.right_items i {
    margin: 11.5px 13px;
}
.right_items .tooltip1 {
    display: none;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 50px;
}
.right_items .icon1:hover .tooltip1 {
    display: block;
    transform: translateX(-50%);
}
.right_items .tooltip2 {
    display: none;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 50px;
}
.right_items .icon2:hover .tooltip2 {
    display: block;
}

.right_icon {
    background-color: rgba(85, 75, 107, 0.9);
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin: 6px;
    color: #fff;
}

#Me {
    clip-path: circle(50% at 50% 50%);
    width: 45px;
    margin: 6px;
}
.Avt {
    text-align: center;
    margin: 30px 0;
    padding-left: 15.7%;
    padding-bottom: 50px;
}
.Avt img {
    clip-path: circle(50% at 50% 50%);
    width: 100px;
    margin-bottom: 20px;
}
.content {
 /*   padding-left: 15.7%; */
    border-left: transparent solid 0.3px;
}
.contain-choice {

}
.Choice {
    align-items: center;
    display: flex;
    padding-left: 15.7%;
}
.Choice ul {
    display: flex;
    margin: 50px auto;
    background-color: rgba(207, 205, 205, 0.3);
    border-radius: 25px;
}
.Choice ul li {
    list-style: none;
    margin: 0 10px;
    padding: 8px;
    font-size: 18px;
}
.Choice ul li a {
    text-decoration: none;
    color: rgb(211, 208, 208);
}
.Choice ul li a:hover {
    color: #fff;
}
.Choice ul li:hover {
    background-color: rgba(226, 222, 222, 0.5);
    border-radius: 25px;
}
.Title {
    font-size: 24px;
    font-weight: 400;
}
.Title i{
    margin-left: 10px;
    font-weight: 300;
    font-size: 20px;
}
#baihat {
    padding-left: 15.7%;
}
#baihat h2{
    transition: transform 1.5s;
    cursor: pointer;
    transform: translateX(-30px);
}
#baihat h2:hover{
    transform: translateX(20%);
    color: rgb(57, 243, 166);
}
.function a{
    color: rgb(211, 208, 208);
    background-color: rgba(207, 205, 205, 0.3);
    border-radius: 25px;
    padding: 10px;
    font-size: 15px;
    margin-right: 15px;
}
.function a i {
    margin: 0 0 0 8px;
}
#function_play {
    background-color: #69296b;
}

/* list */

.contain-list {
    display: block;
    margin: 50px;
}
.list-row {
    display: flex;
    padding: 10px;
    border-bottom: #48274985 solid 1px;
    border-radius: 7px;
    justify-content: space-between;
}
.left-list-row {
    display: flex; 
    position: relative;
    flex-basis: 90%;
}
.right-list-row {
    display: flex;
    margin: auto 7px;
    flex-basis: 10%;
}
.list-row i{
    cursor: pointer;
}
.list-row .fa-music:hover{ 
    transform: rotateY(180deg) translate(60px, -20px);
    transition: transform 2s;
}
.img-icon{
}
.img-icon img {
    width: 60px;
    height: 50px;
    position: relative;
    cursor: pointer;
}
.left-list-row i {
    transform: translateY(30%);
    font-size: 15px;
}
.text-desc {
    margin-left: 10px;
}
.text-desc p {
    font-size: 18px;
    color: rgb(226, 222, 222);
    padding: 5px 0;
}
.text-desc h5, .time {
    font-size: 14px;
    font-weight: 400;
    color: rgb(211, 208, 208);
}

.time {
    right: 40%;
    position: absolute;
    margin: 19px 0;
}

.btn{
    background-color: transparent;
    color: #fff;
    position: absolute;
    transform: translate(-120%, 30%);
    cursor: pointer;
    visibility: hidden;
}
#btn-ld:active #btn-ld, #btn-ls:active #btn-ls, #btn-hh:active #btn-hh, #btn-lnfil:active #btn-lnfil, #btn-fi:active #btn-fi, #btn-bl:active #btn-bl, #btn-iy:active #btn-iy {
    visibility: visible;
}
.list-row:hover .btn{
    visibility: visible;
}
.list-row:hover {
    background-color: #524861;
}


.playlist-bar {
    width: 100%;
    background-color: #431f58;
    align-items: center;
    border-radius: 15px;
    margin-left: 21%;
}
.music_info {
    display: flex;
    align-items: center;
    position: relative;
    height: 200px;
}
.music_info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    left: 100px;
    position: absolute;
    animation: rotate_animation 3s linear infinite;
    animation-play-state: paused;
}
.play .music_info img{ 
    animation-play-state: running;
} 
@keyframes rotate_animation {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.about_music {
    position: absolute;
    left: -42.3px;
    top: 170px;
}
.about_music i{
    margin-left: 6px;
}
.about_music #title {
    margin-bottom: 17px;
    font-size: 19px;
    display: none;
}
.about_music h5 {
    font-weight: 500;
    color: rgb(243, 243, 243);
    transform: rotate(90deg);
    background-color: rgb(14, 12, 12);
    padding: 6px;
    cursor: pointer;
    transition: transform 1.5s;
}
.about_music h5:hover {
    transform: translate(100%, 50%);
    color: rgb(245, 245, 97);
}
.contain_progress_bar {
    display: block;
    position: absolute;
    right: 50px;
    border: #e0e0e0 2px dotted;
    padding: 15px;
}
.process_bar {
    display: flex;
    align-items: center;
    right: 400px;
    margin-top: 25px;
}
.action_btn {
    cursor: pointer;
    font-size: 23px;
    margin: 0 20px;
}
.action_btn:hover{ 
    color: #c662ef;
}
.action_btn i {
    font-weight: 200;
}
#play{ 
    font-size: 35px;
    padding-right: 8px;
}
.progress-include {
    background-color: #fff;
    height: 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}
#progress {
    background-color: #fe8daa;
    width: 0%;
    height: 100%;
    border-radius: 5px;
    transition: width 0.1s linear;
}
.total_list_songs {
    margin: 10px 50px 20px 50px;
}
.list_items {
    padding: 25px 50px 5px 50px;
    font-weight: 400;
    font-size: 20px;
    border-bottom: #c98a99 solid 1px;
}
.list_items:hover {
    background-color: rgba(182, 178, 178, 0.452);
    border-radius: 15px;
    color: rgb(57, 243, 166);
}
.contain_list {
    padding: 20px 0;
}

/* nghesi */
.introduce {
    margin: 50px 20px 50px 12%;
}
.img-intro img {
    width: 300px;
    margin-bottom: 50px;
    border-radius: 10px;
}
#img1-intro{
    transition: transform 2s;
    transform-origin: left top;
}
#img1-intro:hover {
    transform: rotate(360deg) translate(-15%, 25%) scale(0.6);
}
#img2-intro {
    transition: transform 2s;
}
#img2-intro:hover {
    transform: translate(10%, 20%);
}
.introduce p {
    margin: 15px 0;
    text-align: justify;
    font-size: 19px;
}
.contain-in4 {
    border-left: yellowgreen 1px solid;
    border-bottom: yellowgreen 1px solid;
    border-bottom-left-radius: 30px;
    padding: 30px;
}
.para {
    line-height: 30px;
}
.BIGBANG {
    font-size: 30px;
    text-shadow: 1px 2px #cc50b7;
    cursor: pointer;
    transform-origin: left top;
    transition: all 1.5s;
}
.BIGBANG:hover {
    /* transform: translateY(120%); */
    transform: rotateY(360deg) translate(30%, -150%);
}
